'.source.lisp':
  editor:
    commentStart: '; '
    tabLength: 2
    # TODO nedělá, co by mělo
    #increaseIndentPattern: '^.*\\(.*[^)"]$'
  # TODO nefunguje
  "bracket-matcher":
    autocompleteBrackets: false
